* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 30px;
	color: #fff;
	background-color: #333;
}

.colors {
	height: 30vh;
	background-image: linear-gradient(80deg,tomato, tomato,gold, royalblue, lime,royalblue, gold, tomato, tomato);
    background-size: 800%;
    animation: colors 5s linear infinite;
}

@keyframes colors{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}

// zadanie 33
// .square {
// 	background-color: tomato;
// 	animation: square 4s forwards;
// }
// .circle {
// 	background-color: greenyellow;
// 	border-radius: 50%;
//     animation: circle 2s 4s;
// }

// @keyframes square {
//     0%{
//         width: 300px;
// 	    height: 300px;
//         background-color: tomato;
//     }
// 	50% {
// 		width: 600px;
// 		height: 300px;
// 	}
// 	100% {
// 		width: 300px;
// 		height: 600px;
// 		background-color: gold;
// 	}
// }

// @keyframes circle{
//     from{
//         background-color: greenyellow;
//     }
//     to{
//         background-color: royalblue;
//     }
// }
